body {
    font-family: "Dosis", sans-serif;
    background-image: url(../img/flower_meadow.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(204, 186, 253);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(104, 22, 97);
}

.images {
    margin: 10px;
    outline: 3px solid rgb(9, 9, 143);
    outline-offset: 5px;
}

#sunflowerTwoBees {
    background-color: rgb(223, 245, 188);
    font-weight: bold;
    width: 255px;
}

#end2 {
    background-color: rgb(223, 245, 188);
    font-weight: bold;
    padding: 0.5em;
    margin: 0.3em;
    border: 3px solid rgb(64, 75, 5);
    border-radius: 10px;
    width: 480px;
    outline: 2px solid rgb(3, 49, 53);
    outline-offset: 5px;
}