body {
	/* entire body */
	font-family: Times, "Times New Roman", Georgia, serif;
	background-color: rgb(212, 246, 255);
}

/* heading selector */
h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 2em;
	height: 1.5em; /* standard em = 16 px */
	color: rgb(255, 255, 255);
	text-decoration-color: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgb(228, 215, 120),
		rgb(35, 173, 54),
		rgb(48, 5, 201)
	);
}

h2 {
	color: rgb(6, 100, 27);
}

/* class selector */
.link {
	cursor: pointer;
}

ul li {
	list-style-type: square;
	font-weight: bold;
	font-size: 1.2em;
	color: rgb(35, 12, 78);
}

/* ID selector */
#textDisplay {
	font-weight: bold;
	color: rgb(64, 65, 4);
}

#waiting::first-letter {
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(146, 29, 255);
}

#waiting:hover {
	font-weight: bolder;
	color: rgb(134, 83, 5);
}

#end {
	padding: 0.5em;
	margin: 0.3em;
	border: 3px solid rgb(250, 0, 187);
	border-radius: 10px;
	width: 580px;
	outline: 2px solid rgb(107, 7, 221);
	outline-offset: 5px;
}
